**/.DS_Store
dist
package-lock.json
tsconfig.tsbuildinfo
coverage
.envrc
.direnv
oclif.manifest.json

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules
yarn-error.log
